<div class="py-4 lg:flex gap-4">
    <div class=" lg:w-[65%]">
        <app-breadcrumb [current_data]="current_data"></app-breadcrumb>
        <div class="py-6 flex gap-6">
            <div>
                <img [src]="images[0]"
                    class="w-[200px] lg:w-[130px] object-fill  rounded-xl shadow-lg bg-transparent h-[130px]">
            </div>
            <div class="space-y-0.5">
                <p class="font-bold text-xl text-gray-800">{{current_data?.unitInformation?.title}}</p>
                <p class="font-medium text-base text-gray-800">{{current_data?.unitInformation?.unit_name}}</p>

                <p class="text-sm">{{current_data?.unitInformation?.description}}</p>
                <p class="text-sm font-medium text-primary">₹ {{current_data?.rentInformation?.expected_rent}} INR</p>
                <button class="bg-primary px-6 rounded-md py-1.5 text-white  text-sm">Contact Now</button>
            </div>
            <span (click)="handlefavorites(current_id)"
               class="cursor-pointer">
                <span *ngIf="isFavoriteItem">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#f43f5e" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="#f43f5e" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg>
                </span>
                <span *ngIf="!isFavoriteItem">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="#f43f5e" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg>
                </span>
            </span>
        </div>
        <div class="w-[90%]">
            <mat-tab-group>
                <mat-tab label=" Overview">
                    <div class="p-4">
                        <p class="font-semibold text-lg text-gray-800">Basic Information:</p>
                        <ul class="ml-12 list-disc">
                            <li>Apartment Name: {{current_data?.unitInformation?.unit_name}}</li>
                            <li>Location : {{current_data?.unitInformation?.unit_address}}</li>
                            <li>Type of Apartment : {{current_data?.unitInformation?.unit_type}}</li>
                            <li>Size: {{current_data?.unitInformation?.unit_area}}</li>
                            <li>Availability : {{current_data?.unitInformation?.unit_availability}}</li>
                        </ul>
                        <p class="font-semibold text-lg text-gray-800">Description:</p>
                        <ul class="ml-12 list-disc">
                            <li>Furnished:{{current_data?.facilities?.furnished}}</li>
                            <li>Amenities: {{current_data?.facilities?.amenities}}</li>
                        </ul>
                        <p class="font-semibold text-lg text-gray-800">Neighborhood Information:</p>
                        <ul class="ml-12 list-disc">
                            <li>Nearby Facilities: Proximity to schools, hospitals, parks, shopping centers</li>
                            <li>Transportation: Access to public transport, major roads/highways</li>
                        </ul>
                    </div>
                </mat-tab>
                <mat-tab label="Rent Information">
                    <div class="p-4">
                        <p class="font-semibold text-lg text-gray-800">Rent Information:</p>
                        <ul class="ml-12 list-disc">
                            <li> Monthly Rent: {{current_data?.rentInformation?.expected_rent}}</li>
                            <li> Lease Terms: {{current_data?.rentInformation?.minimum_rent_time}}</li>
                            <li> Stay Type: {{current_data?.rentInformation?.stay_type}}</li>

                            <li> Deposit: {{current_data?.rentInformation?.minimum_down_payment}}</li>
                            <li> Late Charges: {{current_data?.rentInformation?.late_charges}}</li>
                        </ul>
                        <p class="font-semibold text-lg text-gray-800">Financial Details:</p>
                        <ul class="ml-12 list-disc">
                            <li>Payment Options: Cash, UPI</li>
                            <li>Late Fees: {{current_data?.rentInformation?.late_charges}}
                            </li>
                        </ul>
                        <!-- <p class="font-semibold text-lg text-gray-800">Lease Agreement Details:</p>
                        <ul class="ml-12 list-disc">
                            <li>Terms and Conditions: Overview of lease terms</li>
                            <li>Tenant Responsibilities: Maintenance, utilities payment, etc.
                            </li>
                        </ul> -->
                    </div>
                </mat-tab>
                <mat-tab label="Ratings & Reviews">
                    <div class="p-4">
                        <div class="pb-2">

                            <div [formGroup]="reviewForm">
                                <label for="review" class="block text-sm font-medium text-gray-700"> Your Review
                                </label>

                                <textarea id="review"
                                    class="mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm"
                                    rows="4" formControlName="review" placeholder="Enter your review..."></textarea>
                                <div class="flex justify-end my-2"> <button (click)="submitRating()"
                                        class="bg-primary  px-4 py-1.5 font-a text-sm  rounded-md text-white">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4" *ngFor="let review of currentratings">
                            <app-review [data]="review"></app-review>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
    <div>
        <img [src]="currentImage" class=" object-fill  rounded-xl shadow-lg bg-transparent h-[300px]">
        <div class="grid grid-cols-4 gap-4 mt-4">
            <div *ngFor="let img of images ">
                <img (click)="currentImage=img" [src]="img"
                    class=" object-fill  rounded-xl shadow-lg cursor-pointer bg-transparent h-[70px]">

            </div>

        </div>
    </div>

</div>
<div>
    <p class="text-xl font-bold">Recommended</p>
    <div class="grid grid-col-1 sm:grid-col-2 lg:grid-cols-4 gap-6 py-4">
        <ng-container *ngFor="let item of listings.slice(0,4)">
            <app-apartment-card [apartmentData]="item"></app-apartment-card>
        </ng-container>
    </div>
</div>