<div>
    <div class="bg-white rounded-2xl h-[400px] w-auto relative  border border-gray-200  card">
        <div class="p-2">
            <img [src]="apartmentData?.unitInformation?.unit_images[0]?apartmentData?.unitInformation?.unit_images[0]:apartmentData?.unitInformation?.unit_images"
                class="w-full  rounded-xl  shadow-lg bg-transparent h-[170px]">
        </div>
        <div class="px-6 py-2 space-y-1 bg-white">
            <div class="flex justify-between items-center">
                <p class="text-xl font-bold text-blue-600">${{apartmentData?.rentInformation?.expected_rent}}</p>
                <div class="flex gap-2 items-center">
                    <span class="p-1.5 rounded-full shadow-sm border border-gray-300 cursor-pointer ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="#f43f5e" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                        </svg>
                    </span>
                    <span (click)="emitViewDetails(apartmentData)"
                        class="material-symbols-outlined w-10 h-10 text-center flex justify-center items-center rounded-full shadow-sm cursor-pointer text-secondary text-2xl">
                        open_in_new
                    </span>
                </div>
            </div>
            <div class="grid gap-y-1">
                <p class="text-sm font-medium text-gray-800">{{apartmentData?.unitInformation?.title}}</p>
                <small
                    class="text-xs   text-gray-600">{{apartmentData?.unitInformation?.description?.substring(0,100)}}</small>
            </div>
            <div class="absolute bottom-1  ">
                <div class="flex gap-2 items-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                            stroke="#2563eb" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                        </svg>
                    </span>
                    <p class="text-gray-600 text-xs font-semibold">{{apartmentData?.unitInformation?.unit_address}}</p>
                </div>
                <div class="border-t-2  gap-2 w-full text-blue-600 flex justify-between py-2 mt-4 border-gray-200">

                    <span class="text-xs font-medium">{{formatAmeneties( apartmentData?.facilities?.amenties)}}</span>
                </div>

            </div>
        </div>
    </div>
</div>